@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #18181b;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.texto {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-align: left;
  
}

#counter {
background-color: #262626;
padding: 3rem;
border-radius: 8px;
margin: 0 auto;
width: 600px;
}

#counter div {
  display: flex;
  align-items: center;
  text-align: center;
}

#value{
  font-size: 8rem;
  color: #fff;
  // largura 
  min-width: 14rem;
  text-align: center;
  margin: 0 auto;
}

button{
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weigth: 500;
  cursor: pointer;
  transition: opacity .3s;

}

button::hover{
  opacity: .8;
}

.count-botton {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  background-color: #18181b;
  margin-right: 1rem;
}

.count-botton:last-child {
  margin-right: 0rem;
  margin-left: 1rem;
}

#reset {
  width: 50%;
  font-size: 1.8rem;
  background-color: #3730a3;
  padding: .8rem 0;
  margin-top: 1rem;
  display: block; /* Definir como bloco para ocupar a largura total */
  margin: 0 auto;
}